/** @format */
.sidebar {
	width: 220px;
	padding: 10px;
	height: 86vh;
	overflow-y: auto;
}

.activeLinkItem {
	background: #ffffff;
	padding: 10px 20px;
	font-size: 16px;
	color: #0052CC;
	border-radius: 4px;
}

.linkItem {
	border-radius: 80px;
	font-size: 16px;
	padding: 10px 20px;
	text-align: center;
}

.sidebarLinks {
	text-align: center;
}

.icon {
	font-size: 20px;
}

svg {
	display: unset;
}